<section id="about-me">
    <h1>Kilka słów o mnie</h1>
    <p>
        Moją pasją jest projektowanie i tworzenie aplikacji oraz systemów, jak również długoterminowe ich wsparcie.
        Moje umiejętności obejmują głównie PHP, Symfony, bazy danych oraz projektowanie aplikacji dla różnych branż.
        Pasję do programowania odkryłem w dzieciństwie i rozwijam ją z każdym dniem, ucząc się nowych rzeczy, poznając
        nowe technologie oraz implementując innowacyjne rozwiązania.
    </p>
    <p>
        W trakcie mojej kariery zdobyłem umiejętności współpracy z zespołami programistycznymi, co pozwala mi na
        efektywną komunikację i wspólne poszukiwanie rozwiązań. Posiadam doświadczenie w implementacji różnych systemów
        dla klientów, a także w efektywnym zarządzaniu czasem i obowiązkami w zespole. Również angażuję się w projekty
        niekomercyjne i charytatywne, jak również open-source.
    </p>
</section>