<section id="experience">
    <h2>Praca i praktyki</h2>
    <div class="list">
        <div class="item">
            <div class="top">
                <h3>Soltix</h3>
                <div class="title">PHP Backend Developer</div>
                <div class="info">
                    10.06.2024 - do dziś
                </div>
            </div>
            <div class="description">
                Specjalizuję się w tworzeniu i utrzymaniu dedykowanych systemów
                ERP, CRM, B2B, B2C, OMS oraz DMS.
                Pracuję z technologiami takimi jak Symfony, Api Platform, Doctrine,
                MySQL i PosgreSQL, aby zapewniać skalowalność i wydajność aplikacji.
                Moje obowiązki obejmują projektowanie architektury API,
                integrację z frontendem oraz dbanie o bezpieczeństwo i niezawodność systemów.
                Współpracuję z zespołem, dostarczając rozwiązania dostosowane do
                indywidualnych potrzeb klientów.
            </div>
        </div>
        <div class="item">
            <div class="top">
                <h3>AUTO RIA</h3>
                <div class="title">Front-end Developer</div>
                <div class="info">
                    01.09.2015 - 01.01.2016
                </div>
            </div>
            <div class="description">
                Podczas praktyk w Auto.ria.com zajmowałem się tworzeniem front-endu za pomocą HTML,
                CSS i JavaScript. Moje obowiązki obejmowały projektowanie i implementację responsywnych
                interfejsów użytkownika, optymalizację wydajności strony oraz współpracę z zespołem w
                celu poprawy użyteczności i estetyki serwisu. Praktyki pozwoliły mi na zdobycie
                praktycznych umiejętności w stworzeniu serwisu internetowego,
                a także na zapoznanie się z najnowszymi trendami w technologii webowej.
            </div>
        </div>
    </div>
</section>