// Fonts
$interFont: 'Inter', sans-serif;
$defaultSize: 18px;
$regularWeight: 400;
$boldWeight: 700;

// Colors
$gray: hsl(0, 0%, 75%);
$dark-700: hsl(0, 0%, 17%);
$dark-800: hsl(0, 0%, 8%);
$dark-900: hsl(0, 0%, 6%);
$white: hsl(255, 100%, 100%);