@import "~@fontsource/inter/400.css";
@import "~@fontsource/inter/700.css";
@import "../abstracts/variables";

html, body {
  font-family: $interFont;
  font-size: $defaultSize;
  font-weight: $regularWeight;
}