<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - wawoxe</title>

    {% block styles %}
        {{ encore_entry_link_tags('base_style') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <main>
        {% block main %}{% endblock %}
    </main>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('base') }}
{% endblock %}
</body>
</html>